# Database Configuration
DB_HOST=db.vbhkvbtijkecqshejnll.supabase.co
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=iloveshalomchow

# CDSE Credentials
CDSE_USERNAME=rolandachia7@gmail.com
CDSE_PASSWORD=AChia672083022@

# CDS API
CDS_URL=https://cds.climate.copernicus.eu/api
CDS_API_KEY=70fc350f-0222-4fcb-ac82-1b9389025a21